body,h1,h2,h3,h4,dl,dt,dd,ol,ul,li,th,td,div,span,img,p,button{padding:0;margin:0;}
h1,h2,h3,th{font-weight:normal;}
a{text-decoration:none; cursor:pointer;color:inherit;}
ul,ol,li{list-style:none;}
table{border-collapse:collapse}
input{border:none;margin:0;padding:0;background:none}
.clearfix:after{content:"";display:block;}
.left{float:left;}
.right{float:right;}

/*@media only screen and (min-width: 320px) {*/
    /*html {*/
        /*font-size: 62.5%;*/
    /*}*/
/*}*/
/*@media only screen and (min-width: 720px) {*/
    /*html {*/
        /*font-size: 100%;*/
    /*}*/
/*}*/
@charset"utf-8";
html{
	width:100%;
	min-width:450px;
	max-width:1900px;
	height:100%;
	font-size:125%;
	font-family: "Î¢ÈíÑÅºÚ";
}
body{
	width:70%;
	margin:0 15%;
	height:100%;
}
#header{
	width:92%;
	padding:0 4%;
	height:3rem;
	line-height:3rem;
	background-color:#29bde0;
	color:white;
	border-bottom:1px solid #74d4eb;
}
#header-left{
	float:left;
	width:16%;
	height:3rem;
	background:url(imgs3-1/1.png) 0.5rem no-repeat;
	background-size:1rem;
	}
#header-right{
	float:right;
	width:14%;
	height:3rem;
	background:url(imgs3-1/2.png) 0.5rem no-repeat;
	background-size:1.5rem;
	}
h1{
	text-align:center;
	color:white;
	font-size: 1.3rem;
}
#main{
	width:84%;
	height:31rem;
	padding:2rem 8% 1rem 8%;
	background-color:#29bde0;
	float:left;
	overflow:visible;
}
ul{
	width:100%;
	height:22rem;
}
li{
	width:6rem;
	height:6rem;
	border:2px solid #ffffff;
	margin:1rem;
	display:inline;
	flow:left;
}
#footer{
	width:70%;
	margin:0 15%;
	height:7rem;
	position:fixed;
	left:0;
	bottom:0;
	background-color:#29bde0;
	border-top:1px solid #ffffff;
}
#next3-1{
	width:80%;
	margin:2rem 10%;
	height:3rem;
	text-align:center;
	line-height:3rem;
	color:white;
	font-size:1.3rem;
	background-color:#fab344;
	float:left;
}